@import url("headerfooter.css");

@keyframes girar {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

@media only screen and (min-width: 769px) {
    .contenedor {
        width: 768px;
        max-width: 100%;
        min-height: 480px;
    }

    .contenedor p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin: 20px 0;
    }

    .contenedor span {
        font-size: 12px;
    }

    .contenedor a {
        font-size: 13px;
        margin: 15px 0 10px;
    }

    .contenedor button, .button {
        font-size: 12px;
        padding: 10px 45px;
    }

    .contenedor input,
    .contenedor select {
        margin: 5px 0;
        padding: 10px 15px;
        font-size: 13px;
    }

    .social-iconos a {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 19px;
    }

    .contenedor {
        width: 480px;
        max-width: 100%;
        min-height: 480px;
    }

    .contenedor p {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.3px;
        margin: 18px 0;
    }

    .contenedor span {
        font-size: 10px;
    }

    .contenedor a {
        font-size: 10px;
        margin: 13px 0 8px;
    }

    .contenedor button, .button {
        font-size: 7px;
        padding: 10px 35px;
    }

    .contenedor input,
    .contenedor select {
        margin: 4px 0;
        padding: 10px 15px;
        font-size: 13px;
    }

    .social-iconos a {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 480px) {
    .contenedor {
        width: 320px;
        max-width: 100%;
        min-height: 480px;
    }

    .contenedor {
        width: 370px;
        max-width: 100%;
        min-height: 480px;
    }

    .contenedor p {
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0.3px;
        margin: 16px 0;
    }

    .contenedor a {
        font-size: 10px;
        margin: 13px 0 8px;
    }

    .contenedor button, .button {
        font-size: 6px;
        padding: 10px 20px;
    }

    .contenedor input,
    .contenedor select {
        margin: 3px 0;
        padding: 10px 15px;
        font-size: 10px;
    }

    .social-iconos a {
        width: 15px;
        height: 15px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 15px;
    }

    .contenedor {
        width: 315px;
        max-width: 100%;
        min-height: 480px;
    }

    .contenedor p {
        font-size: 8px;
        line-height: 14px;
        letter-spacing: 0.3px;
        margin: 14px 0;
    }

    .contenedor input,
    .contenedor select {
        margin: 3px 0;
        padding: 10px 15px;
        font-size: 8px;
    }

    .contenedor button, .button {
        font-size: 6px;
        padding: 10px 15px;
    }

    .social-iconos a {
        width: 10px;
        height: 10px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex: 1;
    background-image: url(../img/fondo10.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
}

.contenedor a {
    color: rgb(7, 75, 124);
    text-decoration: none;
}

.contenedor button, .button {
    background-color: rgb(7, 75, 124);
    color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
}

.contenedor button.ocultar {
    background-color: transparent;
    border-color: white;
}

.contenedor form {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.contenedor input,
.contenedor select {
    background-color: rgb(233, 252, 255);
    border: none;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-contenedor {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.iniciar-sesion {
    left: 0;
    width: 50%;
    z-index: 2;
}

.contenedor.active .iniciar-sesion {
    transform: translateX(100%);
}

.crear-cuenta {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.contenedor.active .crear-cuenta {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

.social-iconos {
    margin: 20px 0;
}

.social-iconos a {
    border: 1px solid rgb(233, 252, 255);
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

.cambiar-contenedor {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 150px;
    z-index: 1000;
}

.contenedor.active .cambiar-contenedor {
    transform: translateX(-100%);
    border-radius: 0 150px 150px 0;
}

.cambiar {
    background-color: rgb(7, 75, 124);
    height: 100%;
    background: linear-gradient(to right, rgb(36, 169, 192), rgb(7, 75, 124));
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.contenedor.active .cambiar {
    transform: translateX(50%);
}

.cambiar-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.cambiar-izquierda {
    transform: translateX(-200%);
}


.contenedor.active .cambiar-izquierda {
    transform: translateX(0);
}

.cambiar-derecha {
    right: 0;
    transform: translateX(0);
}

.contenedor.active .cambiar-derecha {
    transform: translateX(200%);
}