
@import url("headerfooter.css");

/* Estilos para el título */
.section-title {
    color: white; /* Color del texto */
    font-size: 60px; /* Tamaño de fuente más grande */
    text-align: center; /* Centra el texto */
    animation: moveTitle 8s linear infinite; /* Animación infinita */
}

/* Animación del título */
@keyframes moveTitle {
    0% {
        transform: translateX(-80%); /* Mueve el título hacia la izquierda */
    }
    50% {
        transform: translateX(100%); /* Mueve el título hacia la derecha */
    }
    100% {
        transform: translateX(-80%); /* Vuelve a la posición inicial */
    }
}

/* Estilos para la descripción */
.section-description {
        color: white; /* Color del texto */
        margin-bottom: 30px; /* Margen inferior */
        font-size: 20px; /* Tamaño de fuente */
        text-align: center; /* Centra el texto */
        font-family:'Times New Roman', Times, serif; /* Fuente */
        transition: transform 0.3s ease-out, background-color 0.3s ease-out; /* Agregamos transiciones */
        background-color: transparent; /* Hacemos que el fondo sea transparente */
    }

/* Estilos generales */
* {
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina rellenos */
    box-sizing: border-box; /* Incluye bordes en el tamaño total */
}

body {
    flex-direction: column; /* Contenido en columna */
    background-image: url('../img/fondo10.webp'); /* Imagen de fondo */
    background-size: cover; /* Cubre toda la pantalla */
    background-repeat: no-repeat; /* No se repite */
    background-attachment: fixed; /* Fondo fijo al desplazar */
    margin: 0; /* Agregar margen cero para asegurarse de que no haya espacios no deseados */
}

/* Contenido principal */
.social-media {
    display: flex; /* Contenido en línea */
    font-size: 20px; /* Tamaño de fuente */
    justify-content: space-around; /* Distribución de elementos */
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Elimina relleno */
    margin-top: 60px; /* Margen superior */
}

/* Estilos para los elementos dentro de .social-media */
.social-media li {
    flex-grow: 1; /* Flex-grow para expandir */
    text-align: center; /* Centra el texto */
    color: rgb(255, 255, 255); /* Color del texto */
    background-color: rgb(36, 169, 192); /* Color de fondo */
    border-radius: 50px; /* Borde redondeado */
    padding: 15px; /* Espacio interno */
    margin: 0 10px; /* Margen horizontal */
}

.social-link.whatsapp img {
    background-color: transparent; /* Hace que el fondo del logo sea transparente */
    text-decoration: none; /* Quita el subrayado */
}

/* Estilos para los enlaces dentro de .social-media li */
.social-media li a {
    text-decoration: none; /* Quita el subrayado */
    font-size: 25px; /* Tamaño de fuente */
    color: #ffffff; /* Cambia el color */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Cambia la fuente */
}

/* Cambio de color al pasar el ratón sobre .social-media li */
.social-media li:hover {
    background-color: rgba(18, 137, 117, 0.895); /* Cambio de color */
}

/* Estilos para los enlaces de redes sociales */
.social-link {
    display: inline-block; /* Muestra en línea */
    transition: transform 0.3s ease-out; /* Transición */
    animation: moveLogo 1s infinite alternate; /* Animación */
}

/* Animación para los enlaces de redes sociales */
@keyframes moveLogo {
    0% {
        transform: translateY(0); /* Sin movimiento */
    }
    100% {
        transform: translateY(-9px); /* Movimiento hacia arriba */
    }
}

/* Efecto de escala al pasar el ratón sobre los enlaces de redes sociales */
.social-link:hover {
    transform: scale(1.2); /* Escala */
}

#scrollUp {
    display: none; /* No se muestra */
    position: fixed; /* Posición fija */
    bottom: 20px; /* Abajo */
    right: 20px; /* Derecha */
    z-index: 99; /* Z-index */
    cursor: pointer; /* Cursor */
    padding: 10px; /* Espacio interno */
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .section-title {
        font-size: 35px; /* Tamaño de fuente */
    }
    .section-description {
        font-size: 17px; /* Tamaño de fuente */
    }
    .social-media {
        flex-direction: column; /* Contenido en columna */
        align-items: center; /* Centra horizontalmente */
        margin-top: 5vh; /* Margen superior */
    }
    .social-media li {
        margin: 2vh 0; /* Margen vertical */
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Ajustes para tablets y dispositivos más grandes */
    .section-title {
        font-size: 40px; /* Tamaño de fuente */
    }
    .section-description {
        font-size: 20px; /* Tamaño de fuente */
    }
    .social-media {
        font-size: 20px; /* Tamaño de fuente */
        margin-top: 3vh; /* Margen superior */
    }
    .social-media li {
        padding: 2vw; /* Espacio interno */
        margin: 1vh 1vw; /* Margen */
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Ajustes para laptops de tamaño mediano */
    .section-title {
        font-size: 50px; /* Tamaño de fuente */
    }
    .section-description {
        font-size: 30px; /* Tamaño de fuente */
    }
    .social-media {
        font-size: 30px; /* Tamaño de fuente */
        margin-top: 3vh; /* Margen superior */
    }
    .social-media li {
        padding: 1.5vw; /* Espacio interno */
        margin: 1vh 0.5vw; /* Margen */
    }
}

@media screen and (min-width: 1441px) {
    /* Ajustes para laptops y monitores de pantalla grande */
    .section-title {
        font-size: 70px; /* Tamaño de fuente */
    }
    .section-description {
        font-size: 35px; /* Tamaño de fuente */
    }
    .social-media {
        font-size: 35px; /* Tamaño de fuente */
        margin-top: 2vh; /* Margen superior */
    }
    .social-media li {
        padding: 1vw; /* Espacio interno */
        margin: 0.5vh 0.3vw; /* Margen */
    }
}
