@import url("headerfooter.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(36, 169, 192);
}

.editar-usuario {
    display: grid;
    flex-direction: column;
    height: 100%;
}

.contenedor {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    height: 80%;
}

.btn-success,
.btn-danger {
    color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    margin: 40px 0;
    font-size: 12px;
    padding: 10px 50px;
}

.contenedor form {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.contenedor input,
.contenedor select {
    background-color: rgb(233, 252, 255);
    border: none;
    border-radius: 8px;
    width: 100%;
    outline: none;
    margin: 15px 0;
    padding: 15px 15px;
    font-size: 13px;
}


.contenedor .botones-accion {
    flex-direction: row;
}

.contenedor h1 {
    margin: 40px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}