@font-face {
    font-family: Brandford;
    src: url('../fonts/Brandford.otf') format('otf');
}

@media only screen and (min-width: 769px) {
    .head {
        font-size: 70px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(36, 169, 192);
    }

    #seleccionado, #no-seleccionado {
        text-decoration: none;
        border-radius: 30px;
        display: inline-block;
        transition: transform 0.3s;
        margin: 20px 10px;
        padding: 5px 8px;
        font-size: 19px;
    } 

    #seleccionado {
        color: rgb(255, 255, 255);
        background-color: rgb(23, 86, 116);
    }
    
    #no-seleccionado {
        color: rgb(36, 169, 192);
        background-color: rgb(255, 255, 255);
    }

    .opciones {
        list-style-type: none;
        display: flex;
        font-size: 22px;
    }
    
    .opciones a:hover {
        transform: scale(1.2);
    }

    .menu-desplegable {
        display: none;
    }

    footer {
        padding: 30px;
        font-size: 15px;
    }

    .logoprincipal img {
        height: 70px;
        width: 120px;
    }

    #redes img {
        height: 31px;
        width: 31px;
    }

    #contacto img {
        height: 15px;
        width: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .head {
        font-size: 60px;
    }

    .logoprincipal img {
        height: 60px;
        width: 110px;
    }

    .navbar {
        display: block;
        justify-content: left;
        background-color: rgb(36, 169, 192);
    }

    .menu-desplegable {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    #seleccionado, #no-seleccionado {
        color: rgb(255, 255, 255);
        text-decoration: none;
        display: inline-block;
        transition: transform 0.3s;
        font-weight: bold;
        margin: 10px 10px;
    }

    #seleccionado {
        color: rgb(7, 75, 124);
    }
    
    .opciones a:hover {
        transform: scale(1.2);
    }

    .opciones {
        font-size: 22px;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgb(36, 169, 192);
    }

    .opciones.open {
        display: flex;
    }

    .opciones li {
        display: block;
        margin-bottom: 10px;
    }

    .menu-desplegable {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    .bar {
        display: block;
        flex-direction: column;
        width: 20px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px;
    }

    .menu-desplegable:hover .bar {
        background-color: #221a72;
    }

    footer {
        padding: 20px;
        font-size: 13px;
    }

    #redes img {
        height: 29px;
        width: 29px;
    }

    #contacto img {
        height: 13px;
        width: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .head {
        font-size: 45px;
    }

    .logoprincipal img {
        height: 50px;
        width: 100px;
    }

    .menu-desplegable {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    #seleccionado, #no-seleccionado {
        color: rgb(255, 255, 255);
        text-decoration: none;
        display: inline-block;
        transition: transform 0.3s;
        margin: 10px 10px;
    }

    #seleccionado {
        color: rgb(7, 75, 124);
    }
    
    .opciones a:hover {
        transform: scale(1.2);
    }

    .opciones {
        font-size: 20px;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .opciones.open {
        display: flex;
    }

    .opciones li {
        display: block;
        margin-bottom: 10px;
    }

    footer {
        padding: 10px;
        font-size: 12px;
    }

    #redes img {
        height: 27px;
        width: 27px;
    }

    #contacto img {
        height: 11px;
        width: 14px;
    }
}

@media only screen and (max-width: 320px) {
    .head {
        font-size: 30px;
    }

    .logoprincipal img {
        height: 30px;
        width: 60px;
    }

    .menu-desplegable {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    #seleccionado, #no-seleccionado {
        color: rgb(255, 255, 255);
        text-decoration: none;
        display: inline-block;
        transition: transform 0.3s;
    }

    #seleccionado {
        color: rgb(7, 75, 124);
    }
    
    .opciones a:hover {
        transform: scale(1.2);
    }

    .opciones {
        font-size: 15px;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .opciones.open {
        display: flex;
    }

    .opciones li {
        display: block;
        margin-bottom: 10px;
    }

    footer {
        padding: 10px;
        font-size: 9px;
    }

    #redes img {
        height: 22px;
        width: 22px;
    }

    #contacto img {
        height: 10px;
        width: 13px;
    }
}

/*Header, degradado de color*/
header {
    background-image: linear-gradient(to top, rgb(36, 169, 192), rgb(7, 75, 124));
    padding-top: 30px;
    text-align: center;
    width: 100%;
}

/*Class Contenedor de imagen y texto*/
.contenedorhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/*Class head para el texto, que no se mueva y alineado al medio*/
.head {
    font-family: 'Brandford';
    color: white;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
}

/*Class para el logo, que no se mueva y alineado al medio*/
.logoprincipal {
    padding-right: 20px;
}

.opciones {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Pie de pagina con un degrado de color y definiendo su lugar*/
footer {
    background-image: linear-gradient(to top, rgb(7, 75, 124), rgb(36, 169, 192));
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
}

/*Eliminando la decoracion de los enlaces*/
footer a {
    text-decoration: none;
    color: inherit;
}

/*Agregando el mismo diseno para Terminos y Condiciones/Politcas y Privacidad*/
#licencias a {
    color: inherit;
    line-height: inherit;
}

/*Igualmente para las redes*/
#redes a {
    line-height: inherit;
    margin-left: 10px;
}

/*Dandole color y diseno a el numero de telefono y el correo*/
#contacto a {
    color: rgb(159, 186, 192);
    line-height: inherit;
    margin-right: 10px;
    margin-left: 10px;
    text-align: inherit;
}

/*Dandole margenes de separacion para las imagenes de las redes sociales*/
#contacto img {
    margin-right: 5px;
}