@import url("headerfooter.css");

@keyframes girar {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@media only screen and (min-width: 769px) {

    /*Class para mostrar la Bienvenida*/
    .informacion {
        font-size: 25px;
        padding: 150px 0;
    }

    .informacion img {
        width: 200px;
        height: 120px;
    }

    /*Class para el boton de Menu*/
    .informacion a {
        width: 130px;
        height: 40px;
    }

    /*Titulos y subtitulos*/
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 45px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 50px;
    }

    /*Class para informacion acerca del restaurante y con su respectivo espacio*/
    .descripcion {
        padding: 60px;
    }

    /*Class para circulo de Desayuno*/
    .circulo-verde {
        width: 90px;
        height: 90px;
    }

    /*Class para circulo de Almuerzo*/
    .circulo-gris {
        width: 90px;
        height: 90px;
    }

    /*Class para circulo de Cena*/
    .circulo-azul {
        width: 90px;
        height: 90px;
    }

    /*Flecha izquierda*/
    #anteriorBtn {
        font-size: 100px;
    }

    /*Flecha derecha*/
    #siguienteBtn {
        font-size: 100px;
    }

    /* Estilos para los platos */
    .carrusel {
        margin: 30px;
    }

    .plato img {
        width: 500px;
        height: 300px;
    }

    /*Class para Titulo Platos del Dia*/
    .subtitulo {
        padding: 30px;
    }

    /*Class para el mensaje final*/
    .final {
        padding: 100px;
    }

    /*Class para definir el tamano del texto*/
    .texto {
        max-width: 600px;
    }
}

@media only screen and (max-width: 768px) {

    /*Class para mostrar la Bienvenida*/
    .informacion {
        font-size: 20px;
        padding: 150px 0;
    }

    .informacion p {
        font-size: 18px;
    }

    /*Class para el boton de Menu*/
    .informacion a {
        width: 100px;
        height: 40px;
    }

    .informacion img {
        width: 150px;
        height: 80px;
    }

    /*Animacion para el boton menu*/
    .informacion a:hover {
        transform: scale(1.2);
    }

    /*Titulos y subtitulos*/
    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 40px;
    }

    /*Class para informacion acerca del restaurante y con su respectivo espacio*/
    .descripcion {
        padding: 50px;
    }

    .descripcion p {
        font-size: 14px;
    }

    /*Class para circulo de Desayuno*/
    .circulo-verde {
        width: 90px;
        height: 90px;
    }

    /*Class para circulo de Almuerzo*/
    .circulo-gris {
        width: 90px;
        height: 90px;
    }

    /*Class para circulo de Cena*/
    .circulo-azul {
        width: 90px;
        height: 90px;
    }

    /*Flecha izquierda*/
    #anteriorBtn {
        font-size: 70px;
    }

    /*Flecha derecha*/
    #siguienteBtn {
        font-size: 70px;
    }

    /* Estilos para los platos */
    .carrusel {
        margin: 30px;
    }

    .plato img {
        width: 350px;
        height: 180px;
    }

    /*Class para Titulo Platos del Dia*/
    .subtitulo {
        padding: 30px;
    }

    /*Class para el mensaje final*/
    .final {
        padding: 80px;
    }

    /*Class para definir el tamano del texto*/
    .texto {
        max-width: 500px;
    }
}

@media only screen and (max-width: 480px) {

    /*Class para mostrar la Bienvenida*/
    .informacion {
        font-size: 18px;
        padding: 100px 0;
    }

    .informacion p {
        font-size: 16px;
    }

    .informacion img {
        width: 100px;
        height: 60px;
    }

    /*Class para el boton de Menu*/
    .informacion a {
        width: 100px;
        height: 40px;
    }

    /*Titulos y subtitulos*/
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 35px;
    }

    h4 {
        font-size: 17px;
    }

    h5 {
        font-size: 30px;
    }

    /*Class para informacion acerca del restaurante y con su respectivo espacio*/
    .descripcion {
        padding: 40px;
    }

    .descripcion p {
        font-size: 13px;
    }

    /*Class para circulo de Desayuno*/
    .circulo-verde {
        width: 80px;
        height: 80px;
    }

    /*Class para circulo de Almuerzo*/
    .circulo-gris {
        width: 80px;
        height: 80px;
    }

    /*Class para circulo de Cena*/
    .circulo-azul {
        width: 80px;
        height: 80px;
    }

    /*Flecha izquierda*/
    #anteriorBtn {
        font-size: 50px;
    }

    /*Flecha derecha*/
    #siguienteBtn {
        font-size: 50px;
    }

    /* Estilos para los platos */
    .carrusel {
        margin: 25px;
    }

    .plato img {
        width: 300px;
        height: 150px;
    }

    /*Class para Titulo Platos del Dia*/
    .subtitulo {
        padding: 25px;
    }

    /*Class para el mensaje final*/
    .final {
        padding: 70px;
    }

    /*Class para definir el tamano del texto*/
    .texto {
        max-width: 400px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 320px) {

    /*Class para mostrar la Bienvenida*/
    .informacion {
        font-size: 14px;
        padding: 80px 0;
    }

    .informacion p {
        font-size: 14px;
    }

    .informacion img {
        width: 80px;
        height: 40px;
    }

    /*Class para el boton de Menu*/
    .informacion a {
        width: 70px;
        height: 40px;
    }

    /*Titulos y subtitulos*/
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 13px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 25px;
    }

    /*Class para informacion acerca del restaurante y con su respectivo espacio*/
    .descripcion {
        padding: 30px;
    }

    .descripcion p {
        font-size: 11px;
    }

    /*Class para circulo de Desayuno*/
    .circulo-verde {
        width: 60px;
        height: 60px;
    }

    /*Class para circulo de Almuerzo*/
    .circulo-gris {
        width: 60px;
        height: 60px;
    }

    /*Class para circulo de Cena*/
    .circulo-azul {
        width: 60px;
        height: 60px;
    }

    /*Class para ubicar las imagenes segun los circulos*/
    .division img {
        height: 25px;
        width: 25px;
    }

    /*Flecha izquierda*/
    #anteriorBtn {
        font-size: 30px;
    }

    /*Flecha derecha*/
    #siguienteBtn {
        font-size: 30px;
    }

    /* Estilos para los platos */
    .carrusel {
        margin: 25px;
    }

    .plato img {
        width: 200px;
        height: 120px;
    }

    /*Class para Titulo Platos del Dia*/
    .subtitulo {
        padding: 25px;
    }

    /*Class para el mensaje final*/
    .final {
        padding: 50px;
    }

    /*Class para definir el tamano del texto*/
    .texto {
        max-width: 200px;
        font-size: 13px;
    }
}

/* Estilos comunes */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#scrollUp {
    display: none; /* No se muestra */
    position: fixed; /* Posición fija */
    bottom: 20px; /* Abajo */
    right: 20px; /* Derecha */
    z-index: 99; /* Z-index */
    cursor: pointer; /* Cursor */
    padding: 10px; /* Espacio interno */
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex: 1;
    background-image: url('../img/fondo7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacion {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.5);
}

.informacion img {
    animation: girar 5s linear infinite alternate;
}

/*Class para el boton de Menu*/
.informacion a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 20px;
    background-color: white;
    border-radius: 30px;
    display: inline-block;
    line-height: 30px;
    transition: transform 0.3s;
}

/*Animacion para el boton menu*/
.informacion a:hover {
    transform: scale(1.2);
}

h5 {
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    color: white;
}

/*Class para informacion acerca del restaurante y con su respectivo espacio*/
.descripcion {
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
}

/*Class para circulo de Desayuno*/
.circulo-verde {
    margin: auto;
    background-color: rgb(116, 192, 116);
    border-radius: 50%;
    justify-content: inherit;
    align-items: inherit;
    display: flex;
}

/*Class para circulo de Almuerzo*/
.circulo-gris {
    margin: auto;
    background-color: rgb(182, 182, 182);
    border-radius: 50%;
    justify-content: inherit;
    align-items: inherit;
    display: flex;
}

/*Class para circulo de Cena*/
.circulo-azul {
    margin: auto;
    background-color: rgb(108, 100, 180);
    border-radius: 50%;
    justify-content: inherit;
    align-items: inherit;
    display: flex;
}

/*Class para cada espacio entre Desayuno, Almuerzo y Cena*/
.division {
    flex: 1;
    text-align: center;
    height: auto;
    width: auto;
}

/*Class para ubicar las imagenes segun los circulos*/
.division img {
    margin: auto;
}

/*Class para el Texto de Platos del Dia*/
.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*Flecha izquierda*/
#anteriorBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

#anteriorBtn::before {
    content: '\2039';
    color: white;
}

#anteriorBtn:hover {
    transform: scale(1.1);
}

/*Flecha derecha*/
#siguienteBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

#siguienteBtn::before {
    content: '\203A';
    color: white;
}

#siguienteBtn:hover {
    transform: scale(1.1);
}

/* Estilos para los platos */
.carrusel {
    justify-content: center;
    display: flex;
    transition: transform 0.5s ease;
}

/* Estilos para cada plato */
.plato {
    flex: 0 0 auto;
    text-align: center;
}

.plato img {
    transition: transform 0.3s;
}

.plato img:hover {
    transform: scale(1.1);
}

/*Class para Titulo Platos del Dia*/
.subtitulo {
    color: white;
    justify-content: center;
}

/*Class para el contenedor de Platos del Dia*/
.ovalo {
    background-color: rgb(36, 169, 192);
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    margin: 0px;
}

/*Class para el mensaje final*/
.final {
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*Class para definir el tamano del texto*/
.texto {
    width: 100%;
    text-align: justify;
    overflow: hidden;
}