@import url("headerfooter.css");

/* ---- FUENTES ---- */
@font-face {
    font-family: Pentol_Handwriting;
    src: url('../fonts/Pentol_Handwriting.otf') format(truetype);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    background-image: url('../img/fondo10.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.info {
    display: flex;
    align-items: center;
}

.info-link {
    background-color: white;
    text-decoration: none;
    color: #000;
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.info-link:hover {
    background-color: #000;
    color: #fff;
}

.textnombres {
    font-weight: bold;
    margin-left: 10px;
}

/* Contenido Principal - Main */
.conPrincipal {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /*border: 2px solid;*/
    
    #conTitulo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 10px;
        p {
            font-family: Pentol_Handwriting, 'Times New Roman';
            text-transform: uppercase;
            text-align: center;
            font-size: 30px;
        }
    }
    #conDescripcion {
        text-align: center;
        width: 100%;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 10px 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
        margin-bottom: 30px;
    }
    #conMapa {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        margin-left: 30px;
        height: 800px;
        background-color: rgba(146, 146, 146, 0.5);
        box-shadow: 0 0 10px rgb(146, 146, 146);
        transition: background-color 0.5s ease;
        
        #elemMapa {
            width: 100%;
            height: 770px;
            margin-right: 15px;
            margin-left: 15px;
        }
    }
    #conMapa:hover{
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 10px rgb(255, 255, 255);
}
}
