@import url("headerfooter.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    display: flex;
    background-image: url(../img/fondo10.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contenedor-principal,
.contenedor-slider {
    display: flex;
    width: 100%;
    height: 50%;
    margin: 10px;
    border-radius: 50px;
}

.contenedor-principal {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.contenedor-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider {
    height: 65%;
    width: 100%;
    display: flex;
    transition: transform 0.5 ease;
}

.contenedor-foto,
.contenedor-informacion {
    display: flex;
    height: 90%;
    margin: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.contenedor-foto {
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
}

.contenedor-foto img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.contenedor-informacion {
    border-radius: 50px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.contenedor-informacion .texto {
    font-size: 30px;
    color: white;
}

a {
    border-radius: 10px;
    background-color: red;
    font-size: 30px;
    padding: 10px;
    font-style: none;
}