/* ---- FUENTES ---- */
@font-face {
    font-family: Pentol_Handwriting;
    src: url('../fonts/Pentol_Handwriting.otf') format(truetype);
}
@font-face {
    font-family: Bonfire;
    src: url('../fonts/Bonfire.otf') format(truetype);
}
@font-face {
    font-family: Monof;
    src: url('../fonts/Monof.ttf') format(truetype);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---- ENCABEZADO ---- */
header {
    background-image: linear-gradient(to top, rgb(36, 169, 192), rgb(7, 75, 124));
    padding-top: 30px;
}

.contenedorhead {
    display: flex;
    justify-content: space-between;
}

.head {
    font-family: Brandford;
    color: white;
    font-size: 100px;
    padding-left: 50px;
    display: inline-block;
    vertical-align: middle;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
}

.logoprincipal {
    display: inline-block;
    vertical-align: middle;
    padding-right: 50px;
}

nav {
    background-color: rgb(36, 169, 192);
    padding: 15px 0;
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

#seleccionado, #no-seleccionado {
    color:  rgb(36, 169, 192);
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: inline-block;
    line-height: 20px;
    transition: transform 0.3s;
}

#seleccionado {
    color: rgb(255, 255, 255);
    background-color: rgb(23, 86, 116);
}

nav a:hover {
    transform: scale(1.2);
}

/* ---- CUERPO ----*/
body {
    background-color: rgb(16, 28, 38);
}
.conImg-Especial {
    width: 100%;
    height: 300px;
    display: flex;
    overflow: hidden;
    /*Centrar imagen*/
    justify-content: center;
    align-items: center;
    

    #imgContenido {
        width: 100%;
    }
    #capaGris {
        position: absolute;
        width: 100%;
        height: 300px;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
    }
    #texCocina {
        position: absolute;
        color: white;
        text-transform: capitalize;
        font-family: Bonfire, 'Times New Roman';
        font-size: 90px;
    }
    #texFamilia {
        position: absolute;
        color: white;
        font-size: 20px;
        line-height: 2em;
        font-family: Monof, 'Times New Roman';
        text-align: center;
    }
}

.conPrincipal {
    overflow: hidden;
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;

    .presentacion {
        height: auto;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        /*background-color: aqua;*/
        h1 {
            margin-top: 80px;
            font-size: 50px;
            font-family: Pentol_Handwriting, 'Times New Roman';
            margin-bottom: 30px;
        }
        p {
            line-height: 2em;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-bottom: 50px;
        }
    }
    .textCuadro{
        height: auto;
        margin-left: 90px;
        margin-right: 90px;
        text-align: center;
        /*background-color: aqua;*/
        h1 {
            margin-top: 40px;
            font-size: 50px;
            font-family: Pentol_Handwriting, 'Times New Roman';
            margin-bottom: 20px;
        }
        p {
            line-height: 2em;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-bottom: 30px;
        }
    }
    .conVideo {
        overflow: hidden;
        width: auto;
        height: 500px;
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 50px;
        
        img {
            /* Modificar para que la imagen se centre */
        }
    }
    .conFundador {
        display: flex;
        width: auto;
        height: 500px;
        #conTexto {
            width: 50%;
            height: 500px;
            text-align: center;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to top, rgb(16, 88, 156), rgb(3, 24, 43));
            
            #texFundador {
                font-family: Bonfire, 'Times New Roman'; 
                font-size: 4vw;
                color: white;
            }
            #texFundadorDes {
                line-height: 2em;
                font-size: 2vw;
                font-family: Monof, 'Times New Roman';
                color: white;
                margin-left: 50px;
                margin-right: 50px;
            }
        }
        #conImagen {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: rgb(1, 4, 11);
            
            img {
                height: 500px;
            }
        }
    }
}



/* ---- PIE DE PAGINA ----*/
footer {
    background-image: linear-gradient(to top, rgb(7, 75, 124), rgb(36, 169, 192));
    color: white;
    padding: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 2;
}
footer a {
    text-decoration: none;
    color: inherit;
}
#licencias a {
    color: inherit;
    line-height: inherit;
}
#redes a {
    line-height: inherit;
    margin-left: 10px;
}
#contacto a {
    color: rgb(159, 186, 192);
    line-height: inherit;
    margin-right: 10px;
    margin-left: 10px;
    text-align: inherit;
}
#contacto img {
    margin-right: 5px;
}