/* CSS */
@import url("headerfooter.css");


/* Estilos para el título */
.section-title {
    color: white; /* Color del texto */
    font-size: 60px; /* Tamaño de fuente más grande */
    text-align: center;
    animation: moveTitle 8s linear infinite; /* Animación infinita */
}

/* Animación del título */
@keyframes moveTitle {
    0% {
        transform: translateX(-80%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-80%);
    }
}


/* Estilos para la descripción */
.section-description {
        color: white;
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        transition: transform 0.3s ease-out, background-color 0.3s ease-out; /* Agregamos transiciones */
        background-color: transparent; /* Hacemos que el fondo sea transparente */
    }

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    background-image: url('../img/fondo10.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Contenido principal */
.social-media {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}

/* Estilos para los elementos dentro de .social-media */
.social-media li {
    flex-grow: 1;
    text-align: center;
    color: rgb(255, 255, 255); /* Cambio de color del texto */
    background-color: rgb(36, 169, 192); /* Añadido fondo */
    border-radius: 50px; /* Añadido borde redondeado */
    padding: 15px; /* Añadido espacio interno */
    margin: 0 10px; /* Añadido margen */
}
.social-link.whatsapp img {
    background-color: transparent; /* Hace que el fondo del logo sea transparente */
}

/* Estilos para los enlaces dentro de .social-media li */
.social-media li a {
    text-decoration: none; /* Quita el subrayado */
    font-size: 25px;
    color: #ffffff; /* Cambia el color */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Cambia la fuente */
}

/* Cambio de color al pasar el ratón sobre .social-media li */
.social-media li:hover {
    background-color: rgba(18, 137, 117, 0.895);
}

/* Estilos para los enlaces de redes sociales */
.social-link {
    display: inline-block;
    transition: transform 0.3s ease-out;
    animation: moveLogo 1s infinite alternate;
}

/* Animación para los enlaces de redes sociales */
@keyframes moveLogo {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-9px); /* Movimiento hacia arriba */
    }
}

/* Efecto de escala al pasar el ratón sobre los enlaces de redes sociales */
.social-link:hover {
    transform: scale(1.2);
}
#scrollUp {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}


@media screen and (max-width: 768px) {
    /* Estilos para dispositivos con un ancho máximo de 600px */
    .section-title {
      font-size: 40px; /* Reducir el tamaño de la fuente del título */
    }
    .section-description {
      font-size: 16px; /* Reducir el tamaño de la fuente de la descripción */
    }
    .social-media {
      flex-direction: column; /* Colocar los íconos de redes sociales en columna */
      align-items: center; /* Centrar íconos de redes sociales */
    }
    .social-media li {
      margin: 10px 0; /* Añadir espacio entre los íconos de redes sociales */
      
    }
    body {
        background-color: transparent; /* Hacer el fondo del body transparente en dispositivos móviles */
    }
  }
  