@import url("headerfooter.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(36, 169, 192);
}

.container {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tabla-usuarios-registrados {
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: "Rubik", sans-serif;
    font-size: large;
    font-style: normal;
    max-height: 800px;
    overflow-y: auto;
    margin: 10px 0;
    background-image: linear-gradient(to right, rgb(27, 123, 139), rgb(5, 45, 73));
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tabla-usuarios-registrados::-webkit-scrollbar-track {
    background-color: none;
}

.tabla-usuarios-registrados::-webkit-scrollbar {
    width: 20px;
}

.tabla-usuarios-registrados::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}
.tabla-usuarios-registrados::-webkit-scrollbar-thumb:hover {
    background-color: rgb(145, 145, 145);
}

.tabla-usuarios-registrados thead {
    background-image: linear-gradient(to right, rgb(36, 169, 192), rgb(7, 75, 124));
    color: white;
    justify-content: center;
    align-items: center;
}

.tabla-usuarios-registrados thead th {  
    padding: 20px 50px;
}

.tabla-usuarios-registrados tbody {
    background-image: linear-gradient(to right, rgb(36, 169, 192), rgb(7, 75, 124));
}

.tabla-usuarios-registrados tbody td{
    text-align: center;
    color: white;
    padding: 20px 20px;
}

.tabla-usuarios-registrados tbody input {
    height: 18px;
    width: 18px;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botones .btneditaricon, .btneliminaricon, a {
    background-color: inherit;
    font-size: 20px;
    color: white;
    font-style: none;
    border: none;
    transition: transform 0.3s;
}

.botones .btneditaricon:hover, .btneliminaricon:hover {
    transform: scale(1.2);
}


